@model IEnumerable<WalkingDinner.Models.Schedule>

@{
    ViewBag.Title = "Schedules";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxParticipants)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="@item.ScheduleID" onclick="selectSchedule(@item.ScheduleID)">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxParticipants)
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Continue", "Create", "Participant", new { scheduleId = "0" }, new { @id = "selectSchedule", @hidden = "true"})

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="selectedSchedule" required="required" />
    <input type="submit" value="Continue">
}*@



@section Scripts {
    @Scripts.Render("~/bundles/scripts")

}
