@model IEnumerable<WalkingDinner.Models.Schedule>

@{
    ViewBag.Title = "Schedules";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxParticipants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvailableSpace)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr id="@item.ScheduleID" onclick="selectSchedule(@item.ScheduleID)" class="@(item.AvailableSpace == 0 ? "full" : "")">
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GroupSize)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaxParticipants)
    </td>
    <td>
        @(item.AvailableSpace != 0 ? @Html.DisplayFor(modelItem => item.AvailableSpace) : new MvcHtmlString("Full"))
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ScheduleID }) |
        @*@Html.ActionLink("Details", "Details", new { id = item.ScheduleID }) |*@
        @Html.ActionLink("Delete", "Delete", new { id = item.ScheduleID })
        @(item.AvailableSpace == 0 ? " | " : String.Empty)
        @(item.AvailableSpace == 0 ? Html.ActionLink("Program", "Program", new { id = item.ScheduleID }) : MvcHtmlString.Empty)
    </td>
</tr>
    }

</table>

<p>Please select a schedule to continue.</p>

@Html.ActionLink("Continue", "Create", "Participant", new { scheduleId = "0" }, new { @id = "selectSchedule", @hidden = "true"})


@section Scripts {
    @Scripts.Render("~/bundles/scripts")

}
