@model WalkingDinner.ViewModels.ProgramViewModel

@{
    ViewBag.Title = "Program";
}

<h2>Program</h2>

<div>
    <h4>Generate Program</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.ScheduleID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ScheduleID)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupSize)
        </dd>

        <dd>
            @foreach (var p in Model.Participants)
            {
                @Html.Hidden(p.CoupleName, p.ParticipantID, new { @id = p.ParticipantID.ToString(), @class = "participantList" })
            }
            @*@Html.HiddenFor(model => model.Participants)*@
        </dd>
    </dl>
    @Html.Hidden("Group Size", Model.GroupSize.ToString(), new { @id = "groupSize" })
    @Html.HiddenFor(model => model.Program, new { @id = "programData" })
    @Html.HiddenFor(model => model.ScheduleID, new { @id = "scheduleId" })
</div>

<div>
    <table class="programTable">
        <tr>
            @for (int i = 0; i < Model.GroupSize + 1; i++)
            {
                if (i == 0)
                {
                    <th>Course</th>
                }
                else if (i == 1)
                {
                    <th>Host(s)</th>
                }
                else
                {
                    <th>Guest(s)</th>
                }
            }
        </tr>
        @for (int i = 0; i < Model.Participants.Count; i++)
        {
            <tr>
                @{int groupCount = Model.Participants.Count / Model.GroupSize; }
                @for (int j = 0; j < Model.GroupSize + 1; j++)
                {
                    if (j == 0)
                    {
                        <td id="course@(i / groupCount + 1)">@(i % groupCount == 0 ? (i / groupCount + 1).ToString() : string.Empty)</td>
                    }
                    else
                    {
                        <td id="p@((i * Model.GroupSize) + j)"></td>
                    }
                }
            </tr>
        }
    </table>
</div>
<br />
<span>
    @if (Model.MaxParticipants == Model.Participants.Count) //TODO: Check if participants are full and allowed to generate
    {
    <input value="Generate Program" type="button" onclick="generateProgram()" />
    <input value="Save Program" type="button" onclick="saveProgram()" id="saveProgram" disabled />
    }
</span>

<p>
    <br />
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheduleID }) |
    @Html.ActionLink("Back", "Index")
</p>


@section Scripts {
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(populateProgramFromString());
    </script>
}
