@model WalkingDinner.Models.Participant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Participant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Solo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstNamePartner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstNamePartner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleNamePartner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleNamePartner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastNamePartner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastNamePartner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DietComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DietComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Schedules)
        </dt>

        <dd>
            @Html.ListBoxFor(model => model.Schedules, new MultiSelectList(Model.Schedules,"ScheduleID","Title"), new { multiple = "multiple" })
            @*@Html.DisplayFor(model => model.Schedules)*@
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ParticipantID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
